In [12]:
import pandas as pd

In [13]:
# Read data from file
df = pd.read_csv('adult.data.csv', delimiter=',')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [14]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [96]:
race_count_ascesnding = df.groupby(['race']).size().to_frame().reset_index().rename(columns={0:'QT'})
race_count_dfr = race_count_ascesnding.sort_values('QT',ascending=False)
race_count = race_count_dfr.QT
race_count

4    27816
2     3124
1     1039
0      311
3      271
Name: QT, dtype: int64

In [17]:
 # What is the average age of men?
average_age_men_list = df.loc[df.sex=='Male',['age']].mean()
average_age_men = round(average_age_men_list.age,1)
print(average_age_men)

39.4

In [18]:
# What is the percentage of people who have a Bachelor's degree?
bachelors = df.loc[df.education=='Bachelors',['education']].count()
percentage_bachelors = round((bachelors/df.shape[0])*100,1).education
percentage_bachelors

16.4

In [27]:
# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = bachelors = df[df.education.isin(['Bachelors','Masters','Doctorate'])].count()[0]
lower_education = df.shape[0] - higher_education
print(higher_education)
print(lower_education)

7491
25070

In [28]:
# percentage with salary >50K
higher_education_rich_num = df[(df.education.isin(['Bachelors','Masters','Doctorate']))&(df.salary=='>50K')].count()[0]
higher_education_rich = round((higher_education_rich_num/higher_education)*100,1)
print(higher_education_rich)

46.5

In [24]:
higher_education_rich_num

2221

In [31]:
lower_education_rich_num = df[(~df.education.isin(['Bachelors','Masters','Doctorate'])&(df.salary=='>50K'))].count()[0]
lower_education_rich = round((lower_education_rich_num/lower_education)*100,1)
print(lower_education_rich)

17.4

In [35]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
df = df.rename(columns={'hours-per-week':'hours'})
min_work_hours = df['hours'].min()
min_work_hours

1

In [48]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = df[(df.hours.isin([min_work_hours]))].count()[0]
rich_percentage_min_workers = df[((df.hours==min_work_hours)&(df.salary=='>50K'))].count()[0]
rich_percentage = (rich_percentage_min_workers/num_min_workers)*100
print(num_min_workers)
print(rich_percentage)

20
10.0

In [97]:
# What country has the highest percentage of people that earn >50K?
df = df.rename(columns={'native-country':'country'})
highest_earning_countrys = df[(df.salary=='>50K')].groupby(df.country).salary.count()
highest_earning_countrys=highest_earning_countrys.to_frame().reset_index()
countrys_num_people = df.groupby(df.country).salary.count().reset_index()
countrys_anali = highest_earning_countrys.merge(countrys_num_people,how='left', on='country')
countrys_anali = countrys_anali.rename(columns={'salary_y':'total_salary'})
countrys_anali['perc'] = countrys_anali.salary_x/countrys_anali.total_salary
highest_earning_country = countrys_anali[(countrys_anali.perc==maximo_earn)].country.values[0]
highest_earning_country_percentage =  round((countrys_anali.perc.max())*100,1)
print(highest_earning_country)
print(highest_earning_country_percentage)

Iran
41.9

In [93]:
#prov
df = df.rename(columns={'native-country':'country'})
highest_earning_countrys = df[(df.salary=='>50K')].groupby(df.country).salary.count()
highest_earning_countrys=highest_earning_countrys.to_frame().reset_index()
highest_earning_countrys

#
countrys_num_people = df.groupby(df.country).salary.count().reset_index()
countrys_num_people
print(highest_earning_countrys)

#murge
anali = highest_earning_countrys.merge(countrys_num_people,how='left', on='country')
anali = anali.rename(columns={'salary_y':'total_salary'})
anali

#
anali['perc'] = anali.salary_x/anali.total_salary
maximo_earn = anali.perc.max()
maximo_counry = anali[(anali.perc==maximo_earn)].country.values[0]
maximo_counry

               country  salary
0                    ?     146
1             Cambodia       7
2               Canada      39
3                China      20
4             Columbia       2
5                 Cuba      25
6   Dominican-Republic       2
7              Ecuador       4
8          El-Salvador       9
9              England      30
10              France      12
11             Germany      44
12              Greece       8
13           Guatemala       3
14               Haiti       4
15            Honduras       1
16                Hong       6
17             Hungary       3
18               India      40
19                Iran      18
20             Ireland       5
21               Italy      25
22             Jamaica      10
23               Japan      24
24                Laos       2
25              Mexico      33
26           Nicaragua       2
27                Peru       2
28         Philippines      61
29              Poland      12
30            Portugal       4
31         Puerto-Rico      12
32            Scotland       3
33               South      16
34              Taiwan      20
35            Thailand       3
36     Trinadad&Tobago       2
37       United-States    7171
38             Vietnam       5
39          Yugoslavia       6

'Iran'

In [13]:
# Identify the most popular occupation for those who earn >50K in India.
filtro_india = df[(df.salary=='>50K')&(df.country=='India')].groupby(df.occupation).salary.count()
top_IN = filtro_india.to_frame().reset_index()
top_IN_ordenado = top_IN.sort_values('salary',ascending=False)
top_IN_occupation = top_IN_ordenado.iloc[0].occupation
top_IN_occupation

'Prof-specialty'